@font-face {
  font-family: open-sans;
  src: url(./assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(max-content, 200px) 1fr;
  grid-template-rows: 1fr 40px;
  grid-template-areas:
    'aside main'
    'footer footer';
  font-family: open-sans;
}

aside {
  grid-area: aside;
  padding: 20px;
  border-right: 1px solid #f1f1f1;
}

aside ul {
  list-style: none;
  /* font-family: open-sans; */
}

aside ul li {
  padding: 3px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.2s;
}

aside ul li:hover,
.active {
  font-weight: 900;
  transform: translateX(10px);
}

aside ul li:first-child,
aside ul li:nth-child(5),
aside ul li:last-child {
  margin-bottom: 10px;
}


aside ul .nav-img,
footer img {
  width: 20px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f2f6f7;
}


main .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 900px;
  padding: 40px 0;
}

main .tasks-wrapper {
  display: flex;
  width: 900px;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 2px 2px 2px lightgray;
}

main .tasks-wrapper input{
  border: none;
}

main .tasks-wrapper .tasks-input {
  width: 100%;
}

main .tasks-wrapper #task-checker {
  position: absolute;
  left: 0.5rem;
}


main .wrapper input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(108, 192, 253);
  padding: 10px 0;
  font-size: 1.5rem;
  width: 100%;
  background-color: #f2f6f7;
}

main .wrapper input:active {
  border: none;
  outline: none;
}

main .wrapper input#project-title::placeholder {
  font-size: 1.5rem;
  font-family: open-sans;
}

main .wrapper input#project-notes::placeholder {
  font-size: 0.8rem;
  font-family: open-sans;
}

main .wrapper .submit {
  border: none;
  padding: 10px 40px;
  color: white;
  background-color: rgb(16, 197, 25);
  border-radius: 15px;
  align-self: center;
  transition: all 0.2s;
  font-family: open-sans;
}

main .wrapper .submit:hover {
  transform: scale(1.1);
}

main .wrapper .cancel {
  border: none;
  padding: 10px 40px;
  color: #e81919;
  border-radius: 15px;
  align-self: center;
  transition: all 0.2s;
  font-family: open-sans;
}

main .wrapper .btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}


footer {
  grid-area: footer;
  display: flex;
  border-top: 1px solid #f1f1f1;
}


footer .new-project-btn,
footer .new-task-btn {
  font-family: open-sans;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  /* width: 200px; */
  border: none;
  background-color: white;
  border-right: 1px solid #f1f1f1;
  transition: all 0.2s;
}

footer .new-project-btn {
  flex-basis: 200px;
}

footer .new-task-btn {
  /* flex-basis: 200px; */
  flex-grow: 2;
  visibility: hidden;
  /* margin: 0 auto; */
  border: none;
}

footer .new-project-btn:hover,
footer .new-task-btn:hover {
  font-size: 1rem;
}